USE [master]
GO
/****** Object:  Database [Ramand-DB]    Script Date: 1/26/2024 11:54:12 PM ******/
CREATE DATABASE [Ramand-DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ramand-DB', FILENAME = N'E:\sql serverr\MSSQL16.SQLEXPRESS\MSSQL\DATA\Ramand-DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Ramand-DB_log', FILENAME = N'E:\sql serverr\MSSQL16.SQLEXPRESS\MSSQL\DATA\Ramand-DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ramand-DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ramand-DB]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/26/2024 11:54:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[VerificationToken] [nvarchar](max) NOT NULL,
	[RefreshToken] [nvarchar](max) NULL,
	[TokenCreated] [datetime] NULL,
	[TokenExpires] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [UserName], [Password], [VerificationToken], [RefreshToken], [TokenCreated], [TokenExpires]) VALUES (1, N'pooya', N'54321', N'tvpTdtX8wTvpwoteWosdsbK2JSP6IH7PxgNvLkpH9Wjht61oyvTVu1vKL9vHu1D7Djrr+ExU0u56IAdUtAKHQg==', N'aLpUgzK+PHVi7mdc9Y9B6BzJATznGKD4G/Dve6qQ9DY/88wMgBthXOqB95pdVIjiZ7zbx++tdxwLY+XN4VWWyw==', CAST(N'2024-01-26T22:45:55.437' AS DateTime), CAST(N'2024-01-29T22:45:55.437' AS DateTime))
INSERT [dbo].[Users] ([Id], [UserName], [Password], [VerificationToken], [RefreshToken], [TokenCreated], [TokenExpires]) VALUES (2, N'pouya', N'12345', N'aQujfwddSPSjdYUDghSJ3YYKOTK/wuK7kXBcroUwPX6eOoYbZieWlfUI2CW7dKnIVzoDZGlhmLRNy4wRtkvlXA==', N'FfdTV91A9CQmYFsVPKEqZJvk2Z5HQggw/ULlvrCGwTbdwerWZU+mScHAn7WnDhO+oVrNRTql7ewJFCMGKaRhxQ==', CAST(N'2024-01-26T23:27:26.483' AS DateTime), CAST(N'2024-01-29T23:27:26.483' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  StoredProcedure [dbo].[Sp_Login]    Script Date: 1/26/2024 11:54:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_Login]
	@UserName nvarchar(50)
AS
BEGIN
SELECT * FROM Users WHERE UserName = @UserName
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_RefreshToken]    Script Date: 1/26/2024 11:54:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_RefreshToken]
	@Id int,
	@Expires datetime,
	@Created datetime,
	@Token nvarchar(max)
AS
BEGIN
UPDATE Users SET refreshToken = @Token, tokenCreated = @Created, tokenExpires = @Expires WHERE id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_Register]    Script Date: 1/26/2024 11:54:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_Register]
	@UserName nvarchar(50),
	@Password nvarchar(50),
	@VerificationToken nvarchar(max)
AS
BEGIN
INSERT INTO Users (UserName, Password, VerificationToken) VALUES (@UserName, @Password, @VerificationToken)
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_UserList]    Script Date: 1/26/2024 11:54:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_UserList]
AS
BEGIN
SELECT *
FROM Users
END
GO
USE [master]
GO
